<li class="control-group nested-fields">
  <div class="controls">

    <%= f.fields_for :item do |menu_item_item| %>
        <%= menu_item_item.text_field :name %>
        <%= menu_item_item.text_field :category %>
        <%= menu_item_item.text_field :description %>
    <% end %>

    <%= link_to_remove_association "remove", f %>
  </div>
</li>