<%= form_for setup_menu(@menu), html: {class: "form-horizontal"} do |f| %>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th colspan="3"></th>
      </tr>
      </thead>
      <tbody>
        <%= f.fields_for :items do |item| %>
      <tr>
            <td><%= item.text_field :name %></td>
            <td><%= item.text_field :category %></td>
            <td><%= item.text_field :description %></td>
      </tr>
        <% end %>
      </tbody>
    </table>

    <%= f.submit %>
<% end %>