<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @student.grade %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', current_user %>

<% @menus.each do |menu| %>
    <% if Order.find_by(student_id: @student.id, order_date: menu.menu_date).nil? %>
        <%= link_to "#{menu.menu_date}", new_student_order_path(@student, :menu_date => menu.menu_date), class: "btn btn-lg btn-primary"  %>
    <% else %>
        <%= link_to "#{menu.menu_date}", new_student_order_path(@student, :menu_date => menu.menu_date), class: "btn btn-lg btn-success"  %>
    <% end %>
<% end %>

<%= link_to "Orders", student_orders_path(@student), class: "btn btn-lg btn-primary" %>


