<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @student.grade %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', current_user %>


<table class="table table-striped">
  <thead>
  <tr>
    <th>Month</th>
  </tr>
  </thead>

  <tbody>
  <% @months.each do |month| %>
      <tr>
        <td> <%= link_to "#{month}", student_path(@student, :month => Date::MONTHNAMES.index(month)), class: "btn btn-lg btn-primary"  %> </td>
      </tr>
  <% end %>
  </tbody>
</table>

