<%= link_to 'Back', @student %>

<div class="panel panel-default panel-directions">
  <p class="directions">The price for lunch is $4.25. If you submit an order
  for every day of the month, a $0.25 discount will be applied to each of the orders. Once you have completed submission
  of your orders for the month, please click the "Invoice" link at the bottom of the page to print a payment form for the
  month. You can submit orders for the month until the first of the month, at which time all orders will be locked. For instance,
  all orders for December will be locked on December 1st.</p>
  <p class="directions">The price for milk is $0.45 per carton. Milk can only be ordered on a per month basis. If you
  choose to order milk, you will see the total price for the month. </p>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Order</th>
    <th>Price</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @menus.each do |menu| %>
      <% order = Order.find_by(student_id: @student.id, order_date: menu.menu_date) %>
      <tr>
        <% if order.nil? %>
            <td> <%= link_to "#{menu.menu_date}", new_student_order_path(@student, :menu_date => menu.menu_date), class: "btn btn-primary"  %> </td>
            <td>0.00</td>
            <td></td>
        <% else %>
            <td> <%= link_to "#{menu.menu_date}", edit_student_order_path(@student, order), class: "btn btn-success"  %> </td>
            <td><%= number_with_precision(order.price, :precision => 2) %></td>
            <td><%= link_to 'Delete', [@student, order], method: :delete %></td>
      <% end %>
      </tr>
  <% end %>
  <tr>

  <% if @milk_order.nil? %>
        <td> <%= link_to "Milk", new_student_milk_path(@student, :month => @menus.first.menu_date.month), class: "btn btn-primary"  %> </td>
      <td>0.00</td>
      <td></td>
  <% else %>
      <td> <%= link_to "Milk", edit_student_milk_path(@student, @milk_order), class: "btn btn-success"  %>
        <%= @milk_order.milk_type %> </td>
      <td> <%= "#{@day_count} * 0.45 = " %><%= number_with_precision(@milk_total, :precision => 2) %></td>
      <td><%= link_to 'Delete', [@student, @milk_order], method: :delete %></td>
  <% end %>
  </tr>
  <tr>
    <td>Monthly Total</td>
    <td><%= number_with_precision(@total, :precision => 2)%> </td>
    <td></td>
  </tr>
  </tbody>
</table>

<%= link_to "Invoice", student_path(@student, :month => @month, :format => 'pdf'), class: "btn btn-lg btn-info"  %>
