<%= link_to 'Back', @student %>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Order</th>
    <th>Price</th>
  </tr>
  </thead>

  <tbody>
  <% @menus.each do |menu| %>
      <% order = Order.find_by(student_id: @student.id, order_date: menu.menu_date) %>
      <tr>
        <% if order.nil? %>
            <td> <%= link_to "#{menu.menu_date}", new_student_order_path(@student, :menu_date => menu.menu_date), class: "btn btn-lg btn-primary"  %> </td>
            <td>0.00</td>
        <% else %>
            <td> <%= link_to "#{menu.menu_date}", edit_student_order_path(@student, order), class: "btn btn-lg btn-success"  %> </td>
            <td><%= number_with_precision(order.price, :precision => 2) %></td>
            <td><%= link_to 'Delete', [@student, order], method: :delete %></td>
      <% end %>
      </tr>
  <% end %>
  <tr>
    <td>Monthly Total</td>
    <td><%= number_with_precision(@total, :precision => 2)%></td>
  </tr>
  </tbody>
</table>