<div class="panel panel-default panel-directions">
  <p class="directions">Please ensure that the grade for each student is correct. If it is not, click "Edit" and
  update the grade.</p>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Grade</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @students.each do |student| %>
      <tr>
        <td><%= link_to "#{student.first_name} #{student.last_name}", student, class: "btn btn-lg btn-primary" %></td>
        <td><%= student.grade %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New Student", new_student_path, class: "btn btn-lg btn-primary" %>

<br>
<br>
<%= link_to "Change your password", edit_user_registration_path %>
