<%= form_for([@student, @order]) do |f| %>

    <p id="order-date"><%= @order.order_date %></p>
    <%= f.hidden_field :order_date, :value => @order.order_date %>
    <div class="menu-info">
      <%= render 'menu_info' %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>