<%= form_for([@student, @order]) do |f| %>

    <%= f.hidden_field :order_date, :value => @order.order_date %>
    <div class="menu-info">
      <% unless @menu.blank? %>

          <div class="panel panel-default">
            <div class="panel-heading">Entree</div>
            <div class="panel-body">
          <%= f.radio_button :entree_quantity, "1", :checked=> (@order.entree_quantity == 1) %>
          <%= f.label  :entree_quantity, "1" %>
          <%= f.radio_button :entree_quantity, "2", :checked=> (@order.entree_quantity == 2) %>
          <%= f.label  :entree_quantity, "2" %>
          <% @entrees.each do |menu_item| %>
              <div>
                <%= f.radio_button :entree, menu_item.name, :checked=> (@order.entree == menu_item.name) %>
                <%= f.label :entree, menu_item.name %>
                <div class="item_desc"><%= menu_item.description %></div>
              </div>
          <% end %>
              </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">Side</div>
            <div class="panel-body">
          <% @sides.each do |menu_item| %>
              <div>
                <%= f.radio_button :side, menu_item.name, :checked=> (@order.side == menu_item.name) %>
                <%= f.label :side, menu_item.name %>
                <div class="item_desc"><%= menu_item.description %></div>
              </div>
          <% end %>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">Dessert</div>
            <div class="panel-body">
          <% @desserts.each do |menu_item| %>
              <div>
                <%= f.radio_button :dessert, menu_item.name, :checked=> (@order.dessert == menu_item.name) %>
                <%= f.label :dessert, menu_item.name %>
                <div class="item_desc"><%= menu_item.description %></div>
              </div>
          <% end %>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">Special Instructions</div>
            <div class="panel-body">
                    <%= f.text_area :notes, cols: 50, rows:5 %>
            </div>
          </div>

      <% end %>
    </div>

    <div class="actions">
      <%= f.submit "Submit", data: {:disable_with => "Please wait..."} %>
    </div>

<% end %>