<p id="notice"><%= notice %></p>
<p id="order-date"><%= @order.order_date %></p>

<p>
  <strong>Date:</strong>
  <%= @order.order_date %>

  <strong>Student ID:</strong>
  <%= @order.student_id %>
</p>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Main</th>
    <th>Side</th>
    <th>Dessert</th>
  </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @order.main %></td>
        <td><%= @order.side %></td>
        <td><%= @order.dessert %></td>
      </tr>
  </tbody>
</table>
