<p id="notice"><%= notice %></p>
<p id="order-date"><%= @order.order_date %></p>

<p>
  <strong>Date:</strong>
  <%= @order.order_date %>

  <strong>Student ID:</strong>
  <%= @order.student_id %>
</p>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Category</th>
  </tr>
  </thead>

  <tbody>
  <% @order.items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.category %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
